@use "global" as *;

.blog {
    background-color: $white;
    padding: 5% 10%;
    max-width: unset;

    .title {
        @extend %base-title;
    }

    .process-list {
        margin-top: 40px;
        margin-bottom: 36px;

        .process {
            margin-bottom: 25px;

            & > div {
                & > h3 {
                    color: $dark-green-title;
                    margin-bottom: 0;
                    font-size: 30px;
                    font-weight: 500;
                }
                & > p {
                    color: $dark-green-text;
                    margin: 0;
                }
            }

            .process-icon {
                width: 60px;
                height: 60px;
                margin-right: 10px;
                text-align: center;

                img {
                    height: 100%;
                }
            }
        }
    }

    button {
        height: auto;
        border-radius: 8px;
        padding: 12px;
        width: 180px;
        margin-bottom: 15px;
    }
}

.feature {
    display: flex;
    align-items: baseline;
    gap: 12px;
    background-color: white;
    padding: 36px;
    border-radius: 12px;

    .feature-details {
        h3 {
            font-size: 24px;
            color: #343434;
            font-weight: 400;
        }

        img {
            height: 100px;
        }

        p {
            font-size: 16px;
            color: #7e7e7e;
            font-weight: 400;
        }

        a {
            color: #67b54b;
            font-weight: 600;
            font-size: 16px;
        }
    }
}