@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap');

body {
    background-color: #fffbf7;
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Alegreya", sans-serif;
}

h1 {
    color: #025157;
    font-size: 45px;
}

h4 {
    color: #46484c;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
    border-radius: 4px;
    padding: 12px 14px;
}

header {
    margin: 0px 0px 40px;
    padding: 0px 20px;
    font-size: 0px;
    position: fixed;
    top: 0;
    width: 100wh;
    background-color: #fffbf7;
    box-shadow: 0px 16px rgba(0,0,0,0.5);
}

li {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

.header>* {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    font-family: sans-serif;
}

.logo {
    width: 15%;
}

.logo img {
    width: 50%;
}

.navbar {
    text-align: center;
    font-weight: 500;
    color: #025157;
}

.actions {
    display: flex;
    gap: 12px;
    align-items: center;
    text-align: right;
    font-weight: 600;
}

.main {
    margin-top: 140px;
    text-align: center;
}

.container {
    display: flex;
    gap: 12px;
}

.publish {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.publish h3 {
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    margin: 0px;
}

.publish>p {
    font-size: 16px;
    color: #242424;
    line-height: 48px;
    margin-bottom: 20px;
}

.publish>form {
    display: flex;
    flex-direction: column;
}

.publish>form p {
    color: #025157;
    margin-right: 18px;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanatory-video img {
    height: 80px;
    margin-top: 10px;
}

button:hover {
    cursor: pointer;
}

.features {
    margin: 120px 0;
    padding: 60px 120px;
    background-color: #025157;;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.feature {
    display: flex;
    align-items: baseline;
    gap: 12px;
    background-color: white;
    padding: 36px;
    border-radius: 12px;
}

.feature .feature-details h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}

.feature .feature-details img {
    height: 100px;
}

.feature .feature-details p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}

.feature .feature-details a {
    color: #67b54b;
    font-weight: 600;
    font-size: 16px;
}


.feature-grid {
    display: grid;
    grid-template-columns: 1fr 80px;
    gap: 12px;
    background-color: white;
    padding: 36px;
    border-radius: 12px;
}

.feature-grid .feature-details h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}

.feature-grid .feature-details img {
    height: 100px;
}

.feature-grid .feature-details p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}

.feature-grid .feature-details a {
    color: #67b54b;
    font-weight: 600;
    font-size: 16px;
}

@media (max-width: 575px) {
    .navbar, .actions {
        display: none;
    }

    h1 {
        font-size: 30px;
    }

    .main {
        margin-top: 80px;
    }

    .main img {
        width: 100%;
    }

    .container {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .explanatory-video, .publish {
        width: 90%;
    }

    .explanatory-video video {
        width: 100%;
    }

    .publish h3 {
        font-size: 25px;
    }

    .publish p {
        line-height: 24px;
    }

    .publish-actions {
        display: grid;
        grid-template-columns: 1fr 120px;
    }

    .features {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 12px;
        padding-right: 12px;
    }

    .feature > img {
        display: none;
    }

    .feature-grid {
        grid-template-columns: 1fr;
    }

    .feature-grid > img {
        display: none;
    }
}

@media ((min-width: 576px) and (max-width: 767px)) {

}

@media ((min-width: 768px) and (max-width: 991px)) {

}

@media ((min-width: 992px) and (max-width: 1199px)) {

}

@media (min-width: 1200px) {

}